<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Know Your Ports</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.png') }}?v=1">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" crossorigin="anonymous">
</head>
<body id="main">
	<div id="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>