
.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
	margin: 10px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
  }