#form{

    margin: 0;
	padding: 10%;
	border-radius: 2%;
    position: absolute;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	width:100%;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%) 

	}
	
.user{
	font-size: large;
	margin-top:5%;
	margin-right:auto;
	margin-left: auto;

}

.result{
	margin-top: -2%
	
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
	border-radius: 5%;
    box-sizing: border-box;
	text-align: center;
}

input[type=submit] {
    width: 20%;
    padding: 12px 20px;

    box-sizing: border-box;
	text-align: center;
}

#response{
margin-top:5%;
background: lightgreen;

}
