*.*{
	margin:0;
}

#main{
	border-radius: 2%;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
	}
	
.user{
	font-size: large;
	margin-top:5%;
	margin-right:auto;
	margin-left: auto;

}

.result{
	margin-top: -2%
	
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
	border-radius: 5%;
    box-sizing: border-box;
	text-align: center;
}

input[type=submit] {
    width: 20%;
    padding: 12px 20px;

    box-sizing: border-box;
	text-align: center;
}
