
/* Reset */
body { box-sizing: border-box; margin: 0; font-family: 'Helvetica'; font-size: 16px; }
h1 { margin: 0; }

/* General */
.site-wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 10px 0;
    text-align: center;
}
.form-item {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 12px 20px;
}
.btn-submit {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
}
.result p {
    margin: 20px;
}
.result h2 {
    max-width: 100%;
    margin: 20px;
}

/* Mobile */
@media screen and (min-width: 640px){
    .site-wrapper {
        padding-top: 50px;
    }
    .form-item {
        width: 90%;
    }
    .btn-submit {
        width: 80%;
    }
}

/* Tablets */
@media screen and (min-width: 768px){
    .site-wrapper {
        padding-top: 130px;
    }
    .form-item {
        width: 60%;
    }
    .btn-submit {
        width: 40%;
    }
}