* {
	box-sizing: border-box;
	font-family: monospace;
}

#main{
	border-radius: 2%;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
}
	
.user{
	font-size: large;
	margin-top:5%;
	margin-right:auto;
	margin-left: auto;
	width: 270px;
	text-align: center;
}

.result{
	margin-top: -20px;
	background-color: lightgreen;
	
}

.bad{
	margin-top: -20px;
	background-color: gold;
}

input[type=submit] {
	width: 20%;
	padding: 12px 20px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
}

@media (max-width: 767px) {
	html, body {
		margin: 0;
		padding: 0;
	}

	#main {
		font-size: 16px;
	}
	
	header > h2 {
		font-size: 2rem;
	}
	
	.user {
		font-size: 1.3rem;
		padding: .6rem .8rem;
		width: 90%;
		max-width: 300px;
		margin-bottom: 1.5rem;
	}
	
	input[type=submit] {
		width: 90%;
		max-width: 300px;
		margin: 0 auto;
	}
	
	.result, .bad {
		padding: .8em .2em;
	}

}