{% extends 'layouts/base.html' %}

{% block content %}
    <header><h2>Know Your Ports</h2></header>
    <section id="form">
        <form action="/" method="post">
            <input autofocus="" class="user" name="port_input" placeholder=
                    "Enter a TCP/IP port number." type="number" min="0"><br>
            <input class="user" onclick="submit" type="submit" value="Submit">
        </form>
    </section>
    {% if result %}
        <section class="output">
            {% if success == True %}
                <h3>{{ port }} {{ explain }}</h3>
                <h2 class="result">{{ result }}</h2>
            {% else %}
                <h3>{{ explain }} {{ port }}. Try again.</h3>
                <h2 class="bad">{{ result }}</h2>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}

