{% extends 'layouts/base.html' %}

{% block content %}
    <header><h2><a href="/">Know Your Ports</a></h2></header>
    <section id="form">
        <form action="/" method="post">
            <input autofocus class="user" name="port_input" placeholder="Enter a TCP/IP port number." type="number" inputmode="numeric" pattern="[0-9]*" min="0" required>
			<br>
			<button class="user" onclick="submit" type="submit">Submit</button>
        </form>

    </section>
    {% if result %}
        <section class="output">
			<div class="card">
            {% if success == True and result.name|length %}
            {# Success: show name and description if present #}
                <h3>{{ port }} is the port number for</h3>
                <h2 class="result">{{ result.name }}</h2>

                {% if result.description|length and result.description != "Unassigned" %}
                <h3>This port is used for {{ result.description }}.</h3>
                {% endif %}
            
            {% elif success == True and result.name|length < 1 %}
            {# Success but no name: show description instead #}
                <h3>{{ port }} is the port number for</h3>
                <h2 class="result">{{ result.description }}</h2>
            

            {% elif success == False %}
            {# No success #}
                <h3>No result for {{ port }}. Try again.</h3>
                <h2 class="bad">{{ result }}</h2>

            {% endif %}
			</div>
        </section>
    {% endif %}
{% endblock %}

